.course-wallpaper{
    width: 100%;
    
    /* display: inline-block; */
    padding:20px
}
.course-bio{
padding-top: 8px;
font-size: 20px;
text-align: left;
padding-left: 10%;
}
.course-name{
    text-align: left;
    padding-left: 10%;
    font-size: 40px;
}
.enrollment-button{
    padding-right: 10%;
    display: flex; justify-content: flex-end;

}

*{ margin: 0 !important; }
.course-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    padding: 0 0 0 10% ;
    font-size:20px;
}
.not-found{
    font-size: 50px;
    font-weight: bold;
}