.bg {
  width: 100% !important;
  border-radius: 0;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-left {
  position: absolute;
  top: 300px;
  left: 100px;
  font-family: "Staatliches", cursive;
}
.top-left2 {
  position: absolute;
  top: 350px;
  left: 100px;
  font-family: "Staatliches", cursive;
}

.pageCourse {
  text-align: center;
  display: block;
}

.pageCourse .heading {
  font-family: "Staatliches", cursive;
  margin-top: 50px !important;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 10px -5px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.cardImage {
  display: block;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
  border-radius: 0;
}
h1,
h2,
h3 {
  font-family: "Staatliches", cursive;
}
.goCoBTN {
  width: 100% !important;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #0baaff;
  color: white;
}
