.userIcon{
    height: 82%;
}
.textBoxMa{
    margin-bottom: 20px;
}
.inputText{
    width:200px
}
.ImageDiv{
   width: 14rem;
   height: 14rem;
}

.custom-file-upload input[type="button"]{
    border: 1px solid ;
    display: inline-block;
    padding: 6px 12px;
    margin-top: 5px;
    cursor: pointer;
    
}

input[type="file"] {
    display: none;
}

.ImageDiv img {
    height: 100%;
    width: 100%;
}